.flex{
    display: flex;
}
.flex-grow{
    flex-grow: 10;
}
.flex-v-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abs-full{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}