<<<<<<< HEAD

=======
>>>>>>> 32d2c4a3597702cce174428c7a989cfe267f356f
// .fade-enter-active, .fade-leave-active {
//   transition: opacity .5s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }

<<<<<<< HEAD
.fade-enter-active {
  transition: opacity .5s;
}
.fade-enter /* .fade-leave-active below version 2.1.8 */ {
=======
.fade-enter-active  {
  transition: opacity .5s;
}
.fade-enter/* .fade-leave-active below version 2.1.8 */ {
>>>>>>> 32d2c4a3597702cce174428c7a989cfe267f356f
  opacity: 0;
}